
.card-background-medical{
    background-color: hsl(204, 11%, 91%); 
}

.card-background-food {
    background-color: hsl(204, 11%, 91%); 
}

.card-background-campaign {
    background-color: hsl(204, 11%, 91%); 
}

.card-background-fundraising {
    background-color: hsl(204, 11%, 91%); 
}