
.card-background-medical{
    background-color: #5A7581; 
}

.card-background-food {
    background-color: #5A7581; 
}

.card-background-campaign {
    background-color: #5A7581; 
}

.card-background-fundraising {
    background-color: #5A7581; 
}